<a href="http://localhost/php/book.php?id={{book.book_id}}">
  <div class="col-md-3 book_on_main_page_container">
    <div class="book_on_main_page">
      <div class="book_cover">
        <img src="{{book.image}}" alt="Нет картинки"> 
      </div>
      <h4>{{book.title}}</h4>
      <p class="description_text_main_page">
        {{book.author_id}} ToDo Author JOIN 
      </p>
      <p>{{book.print_date}}</p>
    </div>
  </div>
</a>