<a href="http://localhost/php/book.php?id={{book.book_id}}">
  <div class="col-md-4 book_on_main_page_container">
    <div class="book_on_main_page">
      <div class="book_cover">
        <img class="img-thumbnail" {% if book.image is not empty %}
             style="background-image: url('http://localhost/{{book.image}}');"
             {% endif %}
                 > 
             {% include "rating_main_page.twig" %}
        </div>
        <div class="description_main_page">
          <h4>{{book.title}}</h4>
          <p><span>Жанр: </span>{{book.genre_ru}}</p>
          <p><span>Автор: </span>{{book.author}}</p>
          <p><span>Год издания: </span>{{book.print_date}}</p>
        </div>
      </div>
    </div>
  </a>