<a href="http://localhost/php/book.php?id={{book.book_id}}">
  <div class="col-md-3 book_on_main_page_container">
    <div class="book_on_main_page thumbnail">
      <div class="book_cover">
        <img src="{% if book.image is empty %}http://localhost/content/images/NoCover.jpg
             {% else %}
                 http://localhost/{{book.image}}
             {%endif%}
             " class="img-thumbnail" alt="Нет картинки"> 
      </div>
      <div class="description_main_page">
        <h4>{{book.title}}</h4>
        <p>
          {{book.author}}
        </p>
        <p>{{book.print_date}}</p>
      </div>
    </div>
  </div>
</a>