<div>
  <h1>Личный кабинет:</h1>
  <div class="avatar">
    <img src="http://localhost/{{user.avatar}}" alt="Ошибка загрузки аватара" class="img-rounded">
  </div>  

  <div class="user_info">
    <h1>
      {% if role == 'admin' %}
          Администратор:
      {% else %} 
          Пользователь: 
      {% endif %}

      {% if user.name is empty %}
          {{user.login}}
      {% else %}
          {{user.name}}
      {% endif %}
    </h1>
    <div id="profileDataButton" class="btn btn-primary">
      Данные о себе
    </div>
    <ol id="profileData" class="profile_data">
      <li><span>Email:</span> {{user.login}}</li>
      <li><span>Адрес:</span> {{user.address}}</li>
      <li><span>Контакт:</span> {{user.phone_number}}</li>
      <li><span>День рождения:</span> {{user.birthday}}</li>
      <li><span>Дата регистрации:</span> {{user.registration_time}}</li>
    </ol>
  </div>
  <div>
    <h2>Свои книги</h2>
    {% if user_books is empty %}
        <p>Нет книг</p>
    {% else %}
        {% include "table_books.twig" %}
    {% endif %}
  </div>  
  <form action="http://localhost/php/add_book.php">
    <button type="submit" class="btn btn-success add_book_button">Добавить книгу <span>+</span></button>
  </form>
</div>
